*{
    margin : 0px;
    padding : 0px;
    border : 0px;
}
.aboutContainer{
    width : 100%;
    height : auto;
}

.aboutMain{
    display: flex;
    background-color: rgb(20, 112, 182);
    padding : 20px;
    
}
.aboutLeft{
    display : flex;
    flex : 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.aboutRight{
    display: flex;
    flex : 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.aboutLeftWords{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Epilogue', sans-serif;
    color : white;
    padding :  20px;
}
.aboutLeftWordsButton{
    border-radius:20px;
    background-color : white;
    color : rgb(20, 112, 182);
    font-size: 19px;
    font-weight: 700;
    font-family: 'Epilogue', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 25%;
    height : 12%;
    margin-top : 5px;
}
.aboutLeftWordsButton:hover{
    border-radius:20px;
    background-color : white;
    color : rgb(240, 47, 105);
    font-size: 19px;
    font-weight: 700;
    font-family: 'Epilogue', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 25%;
    height : 12%;
    margin-top : 5px;
}
.aboutRightAnalytics{
    color : white;
    font-size: 40px;
    font-family: 'Epilogue', sans-serif;
    margin-bottom: 50px;
}


