*{
    margin : 0px;
    border : 0px;
    padding : 0px;
}

.housepriceContainer{
    width :100%;
    height : 100%;
    margin-top : 10px;

}
.housepriceMain{
    display: flex;
    border-radius : 10px;
    margin:auto;
    width : 70%;
    height: 100%;
    padding : 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.houseAvatar{
    display:flex;
    align-items: center;
    justify-content: center;
    flex : 2;
    border-right: 2px solid white;
    
}
.houseImage{
    width:  500px;
    height : 450px;
    
}
.houseForms{
    display : flex;
    flex : 2;
    background-color: white;
}
.houseMainForms{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
    font-family: 'Epilogue', sans-serif;
    font-size: 25px;
    color : rgb(20, 112, 182);
    text-align: center;

}
.houseNewPrice1{
  width :  80%;
  margin-top: 30px;
  padding : 15px;
  border : 2px solid rgb(20, 112, 182);
  border-radius: 10px;
  
}
.houseNewPrice1:focus{
border :  2px solid rgb(240, 47, 105);
outline: none;
    
}
.houseNewPrice2{
    width :  80%;
    margin-top: 10px;
    padding : 15px;
    border : 2px solid rgb(20, 112, 182);
    border-radius: 10px;
    
}
.houseNewPrice2:focus{
    border :  2px solid rgb(240, 47, 105);
    outline: none;
        
}
  .houseNewPrice3{
    width :  80%;
    margin-top: 10px;
    padding : 15px;
    border : 2px solid rgb(20, 112, 182);
    border-radius: 10px;
    outline: none;
}
.houseNewPrice3:focus{
    border :  2px solid rgb(240, 47, 105);
    outline: none;
        
}
  .houseNewPrice4{
    width :  80%;
    margin-top: 10px;
    padding : 15px;
    border : 2px solid rgb(20, 112, 182);
    border-radius: 10px;
    outline: none
  }
  .houseNewPrice4:focus{
    border :  2px solid rgb(240, 47, 105);
    outline: none;
        
    }

.housePriceButton{
    background-color: rgb(20, 112, 182);
    color : white;
    border-radius: 20px;
    width : 90%;
    height: 12%;
    padding :15px 35px 15px 35px;
    margin-top: 20px;
    text-align: center;
}
.housePriceButton:hover{
    background-color: rgb(240, 47, 105);
    color : white;
    border-radius: 20px;
    width : 90%;
    height: 12%;
    padding :15px 35px 15px 35px;
    margin-top: 20px;
    text-align: center;
}
.housePriceReveal{
    margin-left: 60px;
    border :  2px solid rgb(20, 112, 182);
    margin-top: 20px;
    width : 50%;
    height : auto;
    padding : 15px;
    border-radius: 2px;
}
.housePriceSelect{
    width :  89%;
    margin-top: 10px;
    padding : 15px;
    border : 2px solid rgb(20, 112, 182);
    border-radius: 10px;
    color: rgb(20, 112, 182);
    background-color: white;
    
   
}