*{
    margin : 0px;
    padding : 0px;
    border : 0px;

}

.navbarContainer{
 width : 100%;
 height: auto;
 background-color: black;
 
}
.navbarMain{
display: flex;
width : 100%;
height : 20%;
padding : 20px;
background-color: White;
box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.navHomeLink{
    flex : 3;
    align-items: center;
    justify-content: center;

}
.navbarLink{
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    color : rgb(20, 112, 182);
    margin-left: 28px;
}
.navbarLink:hover {
    border-bottom: 3px solid rgb(240, 47, 105);
    margin-top : 8px;
}
.navbarHomeLink{
    font-family: 'Epilogue', sans-serif;
    font-size: 25px;
    color : rgb(20, 112, 182);
    
}
.navOtherLink{
    display : flex;
    flex : 1;
    align-items: center;
    
    
    
}

